*{
  box-sizing: border-box;
  margin: 0px;
  padding:0px;

}

html, body{
  background-color: black;
  color: aliceblue;
}


.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px ;
}

.card img{
  width: 200px;
  height: 200px;
  border-radius:  50%;
}
.card{
  width: 300px;
  font: 600;
  font-size: large;
  border: 1px solid white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}
.card p{
  margin: 10px;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}