@import "tailwindcss";

h1{
    font-size: 75px;
    position: absolute;
    transform: translateX(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 34%;
    text-decoration: underline;
    font-weight: 600;
}