*{
    margin: 0;
    padding: 0;
}

.nav{
    height: 40px;
    background-color: teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

h3{
    font-size: 23px;
}

.links{
    display: flex;
    gap: 25px;
    font-size: 18px;
}

.abc{
    position: absolute;
    top: 50%;
   left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: 500;
}