.btn{
  padding: 8px;
  margin: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

#input{
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: xx-large
}

