*{
  box-sizing: border-box;
  margin:  0px;
  padding: 0px;
  font-family:cursive
}
html, body{
  height: 100%;
  width: 100%;
  background-color: #333030;
}

.card{
  background-color: pink;
  border-radius: 40px;
  margin-top: 40px;
  padding: 10px;
}

.nav_bar{
  background-color: rgb(30, 78, 151);
  border-radius: 40px;
  margin-top: 40px;
  padding: 10px;
}